.ver-mais {
  padding: 10px 50px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.ver-mais:hover {
  background-color: #ccc;
}