.movie-description {
  display: flex;
  width: 50%;
  margin: 0 auto;
  float: left;
  padding-left: 318px;
  margin-bottom: 63px;
}

.data-lancamento {
  display: flex;
  width: 50%;
  padding-left: 210px;
  justify-content: space-around;
  margin-bottom: 30px;
}

.description {
  display: flex;
  width: 50%;
  padding-left: 200px;
  justify-content: space-around;
}

.movie-image {
  display: flex;
  margin: 0 auto;
  width: 310px;
  padding-right: 56px;
  justify-content: center;
  align-items: flex-end;
}



/* MEDIA QUERIES */
@media (max-width: 1400px) {
  .movie-container {
    margin-right: 10px;
  }

  .movie-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .description {
    padding-left: 100px;
  }
}

@media (max-width: 1500px) {
  .description {
    padding-left: 300px;
  }

  .data-lancamento {
    margin: 70px;
  }
}

@media (max-width: 1200px) {
  .data-lancamento {
    margin: 85px;
  }
}

@media (max-width: 1180px) {
  .data-lancamento {
    margin: 34px;
    padding-left: 10px;
    padding-left: 4px;
  }
}

@media (max-width: 800px) {
  .movie-description {
    width: 100%;
  }


  .slick-arrow {
    display: none !important;
  }



  .sinopse {
    margin: 10px 0px 123px -4px;

  }

  .movie-container {
    margin-left: 15px;
  }
}